/* #9f00E5 */
/* #0D08BA */
/* #E79EFD */
/* #121212 */

body {
  font-family: "Century Gothic", sans-serif; 
  font-weight: 700;
  font-style: normal;
}

.header-container {
  background-image: linear-gradient(60deg, rgba(199, 137, 218, 0.5) 0%, rgba(145, 65, 243, 0.4) 100%), url("https://images.unsplash.com/photo-1607748851687-ba9a10438621?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTJ8fGRpdmVyc2UlMjBncm91cCUyMG9mJTIwZnJpZW5kc3xlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: repeat;
  background-position: center;
  background-attachment: none;
  background-size: 15%;
}

.home-header-title {
  font-family: "Century Gothic", sans-serif; 
  font-size: 26px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 30%;
  left: 400px;
  right: 350px;
  font-weight: normal;
  font-size: 4em;  
}

.home-header-title span {
  color: #9f00e5;
  font-size: 85px;
  margin-bottom: 20px; 
}
.image-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  height: 100vh; /* Set height to full viewport height */
}
.image-container-left {
  margin-bottom: 70px;
  margin-top: 48px;
  margin-left: 500px; /* Adjust the left margin as needed */
}

.image-container-right {
  margin-top: -100px;
  margin-right: 86px; /* Adjust the right margin as needed */
}

.image-one,
.image-two,
.image-three,
.image-four,
.image-five,
.image-six {
  margin: 0; /* Reset margins for images 1 to 6 */
}

.image-seven,
.image-eight,
.image-nine,
.image-ten,
.image-eleven,
.image-twelve {
  margin: 0; /* Reset margins for images 7 to 12 */
}

.tidbit-video {
  margin-top: -100px;
  
}

.tidbit-video-header {
  margin-top: -1200px;
  margin-bottom: 20px;
  color: black;
}



.image-container-right img {
  max-width: 100%; 
}
.image-container-left img{
  max-width: 100%;
}
.text-container {
  font-family: "PT Serif", serif;
  font-size: 20px;
  position: relative;
  line-height: 2; 
  left: 600px;
  top: -70px;
  font-weight: bold; 
  color: black;
  width: calc(40%);
}

.text-intro {
  margin-top: -1000px;
  margin-left: -150px;
  margin-right: 300px;
}

body {
  background-color: whitesmoke;
}

.start-learning-button {
  /* width: 70%; */
  max-width: 300px;
  height: 85px;
  font-size: 18px;
  background-color: #0d08ba; 
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(255, 247, 247, 0.2);
  position: absolute; 
  margin-top: 10px;
  top: 1000px;
  left: 51%; 
  transform: translateX(-50%); 
}

.start-learning-button:hover {
  background-color: #9f00e5; 
}

@media screen and (max-width: 768px) {
  .home-header-title {
    font-size: 26px; /* Keep the font size consistent with the desktop */
    right: 20px; /* Keep the right position consistent with the desktop */
    top: 50%; /* Keep the top position consistent with the desktop */
    transform: translateY(-50%); /* Keep the vertical centering consistent */
  }

  .text-container {
    font-size: 20px; /* Keep the font size consistent with the desktop */
    top: 90%; /* Keep the top position consistent with the desktop */
    right: 50px; /* Keep the right position consistent with the desktop */
    width: calc(40%); /* Keep the width consistent with the desktop */
  }

  .start-learning-button {
    /* Keep the width consistent with the desktop */
     /* Keep the max-width consistent with the desktop */
    /* height: 85px; Keep the height consistent with the desktop */
    font-size: 24px; /* Keep the font size consistent with the desktop */
    top: 128%; /* Keep the top position consistent with the desktop */
    left: 77%; /* Keep the left position consistent with the desktop */
    /* transform: translateX(-50%); Keep the horizontal centering consistent */
  }
}
