/* color: #9F00E5; */
/* color: #0D08BA; */
/* color: #E79EFD; */
/* color: #FFFFFF; */

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

body {
  background-color: white;
}

.image-container {
  margin-right: 40px;
}

.image {
  width: 700px;
  padding-right: 100px;
  border-radius: px;
}

.home-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.text-container {
  flex: 1;
  padding-left: 20px;
  color: #0d08bc;
}

.home-header-title {
  width: 800px;
  margin-top: -150px;
  text-align: left;
  font-size: 70px;
  color:  #0d08bc;
  span {
    font-size: 70px;
    color: #9F00E5;
  }
}

p {
  font-size: 28px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.2ch;
  color: #0d08ba;
  margin-top: -15px;
  padding-bottom: 130px;
}

.tidbit-logo {
  position: absolute;
  top: 10px;
  width: 100px;
  height: auto;
}

.start-learning-button {
  width: 350px;
  height: 90px;
  font-size: 28px;
  background-color: #0d08ba;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3 ease;
  box-shadow: 0px 4px 8px rgba(255, 247, 247, 0.2);
}

.start-learning-button:hover {
  background-color: #0d08ba;
}
