/* Main container styles
.main-container {
  flex-grow: 1;
  /* padding-left: 125px; */
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; 
   justify-content: flex-end; 
  align-items: center;  */
  /* background: #ecf0f1; */
  /* margin-top: 20vh; 
} */
/* 
.buttons-container {
  position: fixed;
  top: 175px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
   justify-content: flex-start;  */
  /* background: #ecf0f1; */
/* } */

/* .videoList-container { */
  /* flex-grow: 1; */
  /* padding-left: 125px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 20px;  */
   /* justify-content: flex-end;  */
  /* align-items: center;  */
  /* background: #ecf0f1; */
  /* margin-top: 30vh;  */
/* } */

/* Video card styles */
/* .video-card {
  width: calc(15% - 5px); 
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* Responsive adjustments for fewer videos per row on smaller screens */
/* @media (max-width: 1024px) {
  .video-card {
    width: calc(25% - 20px);
  }
} */

/* @media (max-width: 768px) {
  .video-card {
    width: calc(50% - 20px); 
  }
} */

/* @media (max-width: 480px) {
  .video-card {
    width: calc(100% - 20px); 
  }
} */

/* Adjust sidebar to not overlap with video grid */
/* .sidebar-container { */
  /* position: fixed;
  left: 0; */
  /* top: 0; Adjust if there's a navbar on top */
  /* width: 125px; */
  /* height: 100%; Take full height */
  /* background-color: #f0f0f1; */
  /* z-index: 100; Ensure sidebar is above other content */
  /* overflow-y: auto; */
/* }  */
