/* Main container styles */
.main-container {
  flex-grow: 1;
  padding-top: 20px; /* Top padding for some space from the top */
  padding-left: 250px; /* Left padding to account for the sidebar */
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between videos */
  justify-content: flex-start; /* Align the videos to the left */
  align-items: flex-start; /* Align the videos to the top of the container */
  background: #ecf0f1;
  margin-top: 33vh; /* Start the container at 1/3 of the viewport height */
  overflow-y: auto; /* Allow scrolling */
}

/* Video card styles */
.video-card {
  width: calc(20% - 20px); /* Adjust width for 5 videos per row - decrease for more videos across */
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments for fewer videos per row on smaller screens */
@media (max-width: 1024px) {
  .video-card {
    width: calc(25% - 20px); /* 4 videos per row */
  }
}

@media (max-width: 768px) {
  .video-card {
    width: calc(50% - 20px); /* 2 videos per row */
  }
}

@media (max-width: 480px) {
  .video-card {
    width: calc(100% - 20px); /* 1 video per row */
  }
}

/* Adjust sidebar to not overlap with video grid */
.sidebar-container {
  position: fixed;
  left: 0;
  top: 0; /* Adjust if there's a navbar on top */
  width: 250px;
  height: 100%; /* Take full height */
  background-color: #f0f0f1;
  z-index: 100; /* Ensure sidebar is above other content */
  overflow-y: auto;
}
