.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .video-container {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
  }
  
  .video-container video {
    width: 100%;
  }
  

  