.navbar-container {
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(72, 73, 69, 0.1);
  z-index: 1000;
  border: 3px solid green;
  /* background-color: blue; */
  margin-bottom: 20px;
}

.brand-logo {
  width: 200px;
  margin-left: 105px;
  border: 3px solid red;
}

.profile-menu {
  /* position: fixed; */
  display: flex;
  align-items: center;
  height: 100%;
}

.profile-menu img {
  width: 75px;
  height: 75px;
  margin-right: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 60px;
  right: 20px;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f6f6f6;
}

.dropdown li a {
  text-decoration: none;
  color: black;
  display: block;
}
