.profile-page {
  /* display: flex;
  flex-direction: row; */
  color: black;

  margin-top: 50px;
  padding-top: 10px;
  position: sticky;
  top: 0;
  left: 0;
  width: 70vw;
}
.profile-container {
  align-items: center;
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto 1fr; /* Personal info on the left, videos on the right */
  grid-gap: 20px; /* Add gap between grid items */
  max-height: 95%;
  overflow: scroll;
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f6f6f8;
  /* border: 2px solid #000000; */
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 30px;
  /* margin-left: 20px; */
  /* height: 600px; */
  /* width: 300px; */
  margin-right: 20px;
}

/* .uploaded{
  font-size: 25px;
  text-align: left;
} */

.text_profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
}
.profile-name h4{
 font-size: 50px;
 font-weight: 800;
}
.editbutton {
  background-color: #0d08ba; 
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(255, 247, 247, 0.2);
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  margin-top: 10px;
}

.profile-details {
  margin-top: 20px;
  text-align: center;
}

/* .profile-details .text {
  color: black;
} */

.main-content {
  display: flex; /* Keep the flex display for videos */
  flex-direction: column;
}

.tidbits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 500px;
}

.videos-grid {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns */
  /* grid-gap: 15px;  */
}

::-webkit-scrollbar {
  width: 10px;
}

.profile-video-card {
  width: 100%;
  margin: 10px;
  text-align: center;
}


.profile-video-card video {
  width: 100%;
  height: auto;
}

.message-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0px 20px 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

/* .text {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
} */

.text_uploaded{
  margin-top: 30px;
}

.no_uploads{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  margin-left: 200px;
  
}

.no_uploads img{
  width: 150px;
}


/* Media Queries */
@media screen and (max-width: 844px) {
  .profile-page {
    flex-direction: column;
    padding: 90px; /* Reduce padding */
    grid-gap: 10px; /* Reduce gap */
  }

  .profile-info {
    margin-left: 0; /* Remove left margin */
  }
}

@media screen and (max-width: 480px) {
  .profile-picture {
    width: 80px; /* Decrease picture size */
    height: 80px;
  }

  .profile-info {
    padding: 10px; /* Decrease padding */
  }
}
