.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 88px;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(237, 238, 235, 0.1);
  margin-top: 95px;
  opacity: 90%;
 
}


.sidebar nav ul {
  list-style-type: none;
  padding-top: 200px;
  margin: 0;
}

.sidebar nav ul li a {
  /* display: block; */
  /* padding: 15px;  */

  text-decoration: none;
  transition: background-color 0.3s; 
  /* Smooth background transition  */
}

.sidebar-icon {
  width: 30px;
  /* Set your desired icon size  */
  height: auto;
  margin-right: 10px; 
  /* Add some space between the icon and the text  */
  vertical-align: middle; 
  text-align: center;
  /* Align the icon with the text  */
  /* border-radius: 10px; */
}

/* Add styles for the text to align it with the icon if necessary */
/* .sidebar nav ul li a span {
  vertical-align: middle;
} */

/* * Style for active link */
.sidebar nav ul li a.active .sidebar-icon {  
  /* Increase the size of the icon for the active link  */
  transform: scale(2); 
   /* 20% larger  */
}

/* Style for active link text if needed */
.sidebar nav ul li a.active {
  font-weight: bold;
  font-family: "Century Gothic", sans-serif; 
  color:#121212;
}

.sidebar ul li a:hover{
  color:#9f00e5;
}
.sidebar-icon {
  transform: scale(1.5)
}

#menu{
  font-size: 3em;
  font-weight: 800;
  z-index: 111;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.25s;
  position: absolute;
  opacity: 80%;
  padding: 20px;
  color: #805180af;
  margin-left: 20px;
 
}

#menu:hover{
  transform: rotate(90deg);
  color: #800080;
}


ul{
  list-style: none;
  padding: 0;
  margin-top: 75px;
}

li{
  text-align: center;
  text-transform: uppercase;
  height: 70px;
  line-height: 70px;
  margin: 15px 0;
  color: white;
  cursor: pointer;
  background-color: #aa8bb7;
  font-size: 1em;
  letter-spacing: 0.2em;
  transition: all 0.25s;
}

li:hover{
background-color: #aa8bb7;;
  color: black;
  letter-spacing: 0.3em;
  font-size: 1.5em
}

#lgMenu{
  width: 300px;
  height: 100%;
  top: 0;
  left: -400px;
  overflow:hidden;
  background-color: #aa8bb7;
  box-shadow: 5px 5px 10px rgb(165, 163, 163);
  
  position: absolute;
  z-index: 11;
  opacity: 80%;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  
}

#exit{
  position: absolute;
  right: 10px;
  padding: 0px;
  top: -10px;
  font-size: 4em;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}


#lgMenu.enter{
  opacity: 1;
  left: 0;
}

#videoSearch{
  background-color:  #aa8bb7;
  width: 14vw;
  height: 5vh;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}