

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  /* background-color: whitesmoke; */
  margin-top: 50px;
  padding: 20px;
  /* box-shadow: 2px 0 5px rgba(220, 237, 185, 0.1); */
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li a {
  display: block;
  padding: 15px; 
  text-decoration: none;
  transition: background-color 0.3s; 
}

.sidebar-icon {
  width: 30px; 
  height: auto;
  margin-right: 10px; 
  vertical-align: middle; 
  border-radius: 10px;
}

/* Add styles for the text to align it with the icon if necessary */
.sidebar nav ul li a span {
  vertical-align: middle;
}

* Style for active link */
.sidebar nav ul li a.active .sidebar-icon {  /* Increase the size of the icon for the active link */
  transform: scale(2); /* 20% larger */
}

/* Style for active link text if needed */
.sidebar nav ul li a.active {
  font-weight: bold;
  font-family: "Century Gothic", sans-serif; 
  color:#121212;
}

.sidebar nav ul li a:hover{
  color:#9f00e5;
}
/* .sidebar-icon {
  transform: scale(1.5)
} */