/* SideBar.css */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers items vertically */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.sidebar nav ul li a {
  display: block;
  padding: 15px; /* Adjust padding as needed */
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth background transition */
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
  background-color: #ddd;
}

.sidebar-icon {
  width: 24px; /* Set your desired icon size */
  height: 24px;
  margin-right: 10px; /* Add some space between the icon and the text */
  vertical-align: middle; /* Align the icon with the text */
}

/* Add styles for the text to align it with the icon if necessary */
.sidebar nav ul li a span {
  vertical-align: middle;
}
