.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  width: 88px;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(237, 238, 235, 0.1);
  /* border: 3px  solid purple; */
  margin-top: 95px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li a {
  display: block;
  padding: 15px; 
  text-decoration: none;
  transition: background-color 0.3s; /* Smooth background transition */
}

.sidebar-icon {
  width: 30px; /* Set your desired icon size */
  height: auto;
  margin-right: 10px; /* Add some space between the icon and the text */
  vertical-align: middle; /* Align the icon with the text */
  border-radius: 10px;
}

/* Add styles for the text to align it with the icon if necessary */
.sidebar nav ul li a span {
  vertical-align: middle;
}

* Style for active link */
.sidebar nav ul li a.active .sidebar-icon {  /* Increase the size of the icon for the active link */
  transform: scale(2); /* 20% larger */
}

/* Style for active link text if needed */
.sidebar nav ul li a.active {
  font-weight: bold;
  font-family: "Century Gothic", sans-serif; 
  color:#121212;
}

.sidebar nav ul li a:hover{
  color:#9f00e5;
}
/* .sidebar-icon {
  transform: scale(1.5)
} */
